@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

:root{
  --yellow:#E2B714;
  --light-grey:#5C5E62;
}

.game{
  width: 90%;
  margin: 0 auto;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #323437;
  color: var(--light-grey);
  font-size: 2rem;
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  padding: 1rem;
  border-radius: .5rem;
  max-width: 90%;
}

#word-showcase{
  margin-top: 30px;
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1em;
  user-select: none;
  width: 100%;
}

#timer{
  margin-bottom: 20px;
  color:var(--yellow);
}

input{
  margin-top: 50px;
  border-radius: 10px;
  background-color: inherit;
  border: none;
  outline: 2px solid  #262729;
  box-shadow: none;
  font-size: 2rem;
  color: inherit;
  width: inherit;
  font-family: 'IBM Plex Mono', monospace;
}

.word{
  margin-right: 13px;
}

span{
  margin: 0;
  padding: 0;
}

/* End game */
.end{
  
}

.statistics-container{
  display: flex;
}

.end div > *:not(:last-child){
  margin-right: 50px;
}

.statistics-title{
  padding: 0;
  margin-bottom: -15px;
}

.statistics{
  color: var(--yellow);
  margin-top: 0;
  font-size: 80px;
}

.restart-button{
  background-color: transparent;
  border: none;
}

.restart-button:hover{
  cursor: pointer;
}

.fa-solid{
  color: var(--light-grey);
  font-size: 20px;
}