@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

.game{
  width: 90%;
  margin: 0 auto;
}

body{
  background-color: #323437;
  color: #5C5E62;
  font-size: 2rem;
  font-family: 'IBM Plex Mono', monospace;
}

#word-showcase{
  margin-top: 50px;
}

.word{
  display: flex;
  margin-right: 15px;
}

input{
  margin-top: 50px;
  border-radius: 10px;
  background-color: inherit;
  border: none;
  outline: 2px solid  #262729;
  box-shadow: none;
  font-size: 2rem;
  color: inherit;
  width: inherit;
  font-family: 'IBM Plex Mono', monospace;
}